{% extends 'comunes/headerBasico.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menuBasico.html' %}
{% endblock %}
{% block contenido %}

<div>
    <h1 class="bg-primary text-center">Registro de Detalles de Venta</h1>
    <form action="/DetallesVenta/agregar" method="post" enctype="multipart/form-data" style=background-color:#FBEEE6>
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="number" name="idDetallesVenta" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="nom">Nombre del Titular:</label>
            <input type="number" name="idVenta" required maxlength="60" placeholder="Nombre del Propietario" class="form-control">
        </div>
        <div class="form-group">
            <label for="num">Número de Tarjeta:</label>
            <input type="number" name="idSelloEsporada" required maxlength="19" min="0" placeholder="Número de Tarjeta" class="form-control">
        </div>
        <div class="form-group">
            <label for="nom">Nombre del Titular:</label>
            <input type="number" name="idVialEspora" required maxlength="60" placeholder="Nombre del Propietario" class="form-control">
        </div>
        <div class="form-group">
            <label for="num">Número de Tarjeta:</label>
            <input type="number" name="idMicelioBolsa" required maxlength="19" min="0" placeholder="Número de Tarjeta" class="form-control">
        </div>
        <div class="form-group">
            <label for="sal">Saldo:</label>
            <input type="number" name="idPlacasPetri" required maxlength="18" placeholder="Saldo" class="form-control">
        </div>
        <div class="form-group">
            <label for="ban">Banco:</label>
            <input type="number" name="idHongosCFructifero" required maxlength="60" placeholder="Nombre del Banco" class="form-control">
        </div>
        <div class="form-group">
            <label for="mes">Mes de Vencimiento:</label>
            <input type="number" name="cantidad" min="0" required maxlength="60" placeholder="Mes de vencimiento" class="form-control">
        </div>
        <div class="form-group">
            <label for="ani">Año de Vencimiento:</label>
            <input type="date" name="fecha" min="0" required maxlength="60" placeholder="Año de vencimiento" class="form-control">
        </div>
        <div class="form-group">
            <label for="ani">Año de Vencimiento:</label>
            <input type="float" name="subtotal" min="0" required maxlength="60" placeholder="Año de vencimiento" class="form-control">
        </div>
        <div class="form-control">
            <label for="est">Estatus:</label>

                <input type="checkbox" name="estatus" value="Inactiva" checked>


        </div>
            <button type="submit" class="btn btn-primary">Agregar Detalles de Venta</button>
            <a href="/DetallesVenta" class="btn btn-danger">Cancelar</a>
    </form>
</div>

{% endblock %}