{% extends 'comunes/headerBasico.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menuBasico.html' %}
{% endblock %}
{% block contenido %}

<div>
    <h1 class="bg-primary text-center">Placas Petri sin Inocular Registradas</h1>

    <a href="/PlacasPetri/nueva" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar nueva Placa de Petri
    </a>

    <table class="table table-bordered" style=background-color:#FBEEE6>
        <th>ID</th>
        <th>ID Especie Compatible</th>
        <th>Fecha de Creación</th>
        <th>Ingredientes para su Preparación</th>
        <th>Color resultante</th>
        <th>Precio al publico</th>
        <th>Costo de Producción</th>
        <th>Estatus</th>
        <th>Existencias</th>
        <th>Imagen</th>
        {% for pp in PlacasPetri %}
        <tr>
            <td>{{pp.idPlacasPetri}}</td>
            <td>{{pp.idEspecies}}</td>
            <td>{{pp.fechaCreacion}}</td>
            <td>{{pp.composicionIngredientes}}</td>
            <td>{{pp.color}}</td>
            <td>{{pp.precioPublico}}</td>
            <td>{{pp.costoProduccion}}</td>
            <td>{{pp.estatus}}</td>
            <td>{{pp.existencias}}</td>
            <td><img src="/PlacasPetri/consultarImagen/{{pp.idPlacasPetri}}" width="100px" height="100px"></td>
            <td>
                <a href="/PlacasPetri/{{pp.idPlacasPetri}}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}