{% extends 'comunes/headerBasico.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menuBasico.html' %}
{% endblock %}
{% block contenido %}

<div>
    <h1 class="bg-primary text-center">Registro de Empleado</h1>
    <form action="/Empleado/agregar" method="post" enctype="multipart/form-data" style=background-color:#FBEEE6>
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="number" name="idEmpleado" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="ban">Banco:</label>
            <input type="text" name="nombreCompleto" required maxlength="60" placeholder="Nombre del Banco" class="form-control">
        </div>
        <div class="form-group">
            <label for="mes">Mes de Vencimiento:</label>
            <input type="text" name="password_hash" min="0" required maxlength="60" placeholder="Mes de vencimiento" class="form-control">
        </div>
        <div class="form-group">
            <label for="ani">Año de Vencimiento:</label>
            <input type="number" name="tipo" min="0" required maxlength="60" placeholder="Año de vencimiento" class="form-control">
        </div>
        <div class="form-group">
            <label for="ani">Año de Vencimiento:</label>
            <input type="number" name="horarioTurno" min="0" required maxlength="60" placeholder="Año de vencimiento" class="form-control">
        </div>
        <div class="form-control">
            <label for="est">Estatus:</label>

                <input type="checkbox" name="estatus" value="Inactiva" checked>


        </div>
            <button type="submit" class="btn btn-primary">Agregar Empleado</button>
            <a href="/Empleado" class="btn btn-danger">Cancelar</a>
    </form>
</div>

{% endblock %}