{% extends 'comunes/headerBasico.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menuBasico.html' %}
{% endblock %}
{% block contenido %}

<div>
    <h1 class="bg-primary text-center">Micelio en Placas Petri Registrados</h1>

    <a href="/MicelioPlacaPetri/nueva" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar Micelio en Placa Petri
    </a>

    <table class="table table-bordered" style=background-color:#FBEEE6>
        <th>ID</th>
        <th>ID Especie</th>
        <th>Precio al publico</th>
        <th>Costo de Producción</th>
        <th>Fecha de Inoculación</th>
        <th>Estatus</th>
        <th>Existencias</th>
        <th>Imagen</th>
        {% for mpp in micelioPlacaPetri %}
        <tr>
            <td>{{mpp.idMicelioPlacaPetri}}</td>
            <td>{{mpp.idEspecies}}</td>
            <td>{{mpp.precioPublico}}</td>
            <td>{{mpp.costoProduccion}}</td>
            <td>{{mpp.fechaInoculacion}}</td>
            <td>{{mpp.estatus}}</td>
            <td>{{mpp.existencias}}</td>
            <td><img src="/MicelioPlacaPetri/consultarImagen/{{mpp.idMicelioPlacaPetri}}" width="100px" height="100px"></td>
            <td>
                <a href="/micelioPlacaPetri/{{mpp.idMicelioPlacaPetri}}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}